<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.walnutin.xtht.bracelet">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 蓝牙服务 -->
        <service android:name="com.inuker.bluetooth.library.BluetoothService" />

        <activity
            android:name=".mvp.ui.activity.GuildActivity"
            android:theme="@style/Theme.AppStartLoadTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".mvp.ui.activity.mvp.ui.activity.LoadActivity" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.RegistbyPhoneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/regist"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--
        autolayout meta
        配置设计图的宽高,配合AutoLauout控件使用,在设计图尺寸以外的其它尺寸手机上,也能达到和设计图一样的效果
        注意: 本框架并不强制你使用 AutoLayout,如果你不想使用 AutoLayout,就不要配置下面的 meta-data
        -->
        <meta-data
            android:name="design_width"
            android:value="375" />
        <meta-data
            android:name="design_height"
            android:value="672" />

        <!-- glide配置 -->
        <meta-data
            android:name="com.jess.arms.widget.imageloader.glide.GlideConfiguration"
            android:value="GlideModule" />

        <!-- arms配置 -->
        <meta-data
            android:name="com.walnutin.xtht.bracelet.app.GlobalConfiguration"
            android:value="ConfigModule" />

        <!-- 通过AndroidManifest配置AppKey和AppSecret，如果你选择通过代码配置，则不需要配置以下meta-data -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="1e6bbf6fe27cc" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="a0153995befcf738e5f57a7db3f52bb2" />

        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.RegistbyEailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/regist"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.LoadingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/load"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.EpConnectedActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ep_setup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.ResetbyEmailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/verifybyemail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.ResetbyPhoneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/verifybyphone"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.ResetpwdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/change_pwd"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.KnownCallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ep_known_call"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.ClockListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ep_clock_list"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.MessagePushActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ep_msg_push"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.QuestionHandlerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ep_question_handler"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.HardUpdateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ep_hard_update"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.BasicSettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ep_basic_settings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.BindbyPhoneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/bind_account"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.BindEndActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/bindbyphone"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.Personal_dataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/person_data"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- android:launchMode="singleInstance" -->

        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.ClockAddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/person_data"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.BindEndbyphoneActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/bind"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".mvp.ui.activity.mvp.ui.activity.RunningOutsideActivity" />
        <!-- 高德地图 -->
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ad8185f62a0d3cfaa5d9b81366ac9304" />

        <activity android:name=".mvp.ui.activity.mvp.ui.activity.CountdownActivity" />

        <service
            android:name=".mvp.ui.fragment.mvp.ui.fragment.DfuService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".mvp.ui.fragment.mvp.ui.fragment.EpConnecteService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".mvp.ui.activity.mvp.ui.activity.RunningIndoorActivity" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.OperationbyRunmapActivity"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.RateDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/ratedata"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.ExerciseListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/exercise_list"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.ui.activity.mvp.ui.activity.ExerciseDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/exercise_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
    </application>

</manifest>